:root {
    --cor-primaria: rgba(0, 25, 134, 0.712);
    --cor-secundaria: rgb(180, 194, 247);
    --cor-fundo: rgb(32, 31, 31);
    --cor-primaria-texto: whitesmoke;
    --cor-sombras: rgba(75, 74, 74, 0.765);
    --cor-link: rgb(78, 110, 255);
    --cor-link-hover: rgb(246, 170, 214);
    --cor-link-ativo: rgb(166, 71, 210);
    --cor-titulo: rgb(254, 199, 239);
    --cor-borda-caixa-form: rgb(255, 246, 246);
    --cor-caixa-form-texto: aliceblue;
    --cor-texto-botao-enviar: aliceblue;
    --cor-subtitulos: rgb(198, 198, 198);
}

[data-theme="white"]{
     --cor-primaria: rgb(182, 195, 247); 
     --cor-secundaria: rgba(0, 25, 134, 0.85);   
     --cor-fundo: rgb(233, 233, 233);        
     --cor-primaria-texto: rgb(20, 20, 20);          
     --cor-sombras: rgba(26, 26, 156, 0.568);    
     --cor-link: rgb(4, 16, 69);            
     --cor-link-hover: rgb(200, 111, 163);   
     --cor-link-ativo: rgb(166, 71, 210);    
     --cor-titulo: rgb(198, 73, 146);          
     --cor-borda-caixa-form: rgba(71, 70, 70, 0.765);  
     --cor-caixa-form-texto: rgb(33, 33, 33);             
     --cor-texto-botao-enviar: rgb(4, 22, 103);              
     --cor-subtitulos: rgb(80, 80, 80);    
    }

[data-theme="autocontraste"] {
    --cor-primaria: rgb(0, 0, 0); 
    --cor-secundaria: rgba(255, 255, 255, 0.85);   
    --cor-fundo: rgb(0, 0, 0);        
    --cor-primaria-texto: rgb(255, 255, 255);          
    --cor-sombras: rgb(5, 76, 230);    
    --cor-link: rgb(215, 212, 212);            
    --cor-link-hover: rgb(160, 160, 160);   
    --cor-link-ativo: rgb(255, 255, 255);    
    --cor-titulo: rgb(255, 255, 255);          
    --cor-borda-caixa-form: rgba(255, 255, 255, 0.765);  
    --cor-caixa-form-texto: rgb(255, 255, 255);             
    --cor-texto-botao-enviar: rgb(255, 255, 255);              
    --cor-subtitulos: rgb(223, 222, 222);    
   }
    
#sobreMim{
    display: block;
    padding: 10rem 10rem ;
}
#sobreMim p{
    text-align: justify;
    margin-bottom: 1rem;
    line-height: 10rem;
}

.foto-julia {
    width: 20vw;
    border: 2px solid var(--cor-secundaria);
    margin: 0 1rem 1rem 2rem;
    float: left;
    border-radius: 50%;
    box-shadow: 2px 2px 6px var(--cor-sombras);
}

body {
    font-family: 'Times New Roman', Times, serif;
    text-indent: 0px;
    color: var(--cor-primaria-texto);
    background-color: var(--cor-fundo);
}

h1, h2 {
    text-indent: 0px;
    color: var(--cor-titulo);
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

header {
    background-color: var(--cor-primaria);
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px var(--cor-sombras);
    position: sticky;
    top: 0;
}

header ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

html {
    scroll-behavior: smooth;
}

section {
    min-height: 80vh;
    margin: 2rem;
    scroll-margin-top: 4rem;
    padding: 1rem;
    overflow: hidden;
}

.titulo-secao {
    text-align: center;
    margin-bottom: 2rem;
}

p {
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
}

input[type="text"],
input[type="email"],
textarea {
    border: 1px solid var(--cor-borda-caixa-form);
    border-radius: 10px;
    padding: .25rem .75rem;
    color: var(--cor-caixa-form-texto);
    resize: none;
}

input[type="submit"] {
    background-color: var(--cor-primaria);
    color: var(--cor-texto-botao-enviar);
    padding: .25rem .75rem;
    border: none;
    font-weight: 100;
}

/*estilos*/
.cards-coluna {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
}

.cards-linha {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin: 0;
}

.card {
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 2px 6px var(--cor-sombras);
    list-style: none;
}

.card li{
    margin-bottom: 0.5rem;
}

.titulo-card {
    font-weight: bold;
    color: var(--cor-secundaria);
    font-size: 1.3rem;
}

.instituicao-card {
    font-size: 1.1rem;
    color: var(--cor-subtitulos);
}

.card-imagem img{
    width: 100%;
    border-radius: 8px;
}


.card-descricao{
    margin-top: 0.5rem;
    font-size: 0.95rem;
    color: var(--cor-subtitulos);
}


#meusprojetos .card{
    width: 45%;
}

.botao{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    margin: 0.3rem 0.3rem 0 0;
    font-weight: bold;
}

.botao:hover{
    cursor: pointer;
    background-color: var(--cor-secundaria);
} 

.botao-demo, 
.botao-continue{
    background-color: var(--cor-primaria);
    color: var(--cor-primaria-texto);
}

.botao-compartilhar{
    background-color: var(--cor-secundaria);
}

.botao-compartilhar:hover{
    background-color: var(--cor-primaria);
}

.artigos{
    justify-content: space-evenly;
}

.artigos article{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 1rem;
    border-left: 3px solid var(--cor-secundaria);
    margin-bottom: 1rem;
    border-radius: 8px;
}

.artigos h3{
    margin: 0;
    color: var(--cor-secundaria);
    margin-bottom: 1rem;
}

.emoji-card {
    text-align: center;
    font-size: 2rem;
}


a {
    color: var(--cor-link);
    text-decoration: underline;
}

a:visited {
    color: var(--cor-secundaria);
}

a:hover {
    color: var(--cor-link-hover);
}

a:active {
    color: var(--cor-link-ativo);
}

#RedesSociais {
    background-color: var(--cor-fundo);
    color: var(--cor-primaria-texto);
    text-align: center;
    padding: 20px;
}
